[Unit]
Description=Network UPS Tools - power device driver controller
#BindsTo=dev-ups-%i.device
#After=dev-ups-%i.device

[Service]
ExecStart=/sbin/upsdrvctl start 
ExecStop=/sbin/upsdrvctl stop
User=nut
Group=nut
RuntimeDirectory=nut
RuntimeDirectoryMode=770
Type=forking

[Install]
WantedBy=multi-user.target
